* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: sans-serif;

}

.container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 30rem;
    width: 25rem;
    align-items: center;
    border-radius: 22px 22px 9rem 22px;
    padding: 0 20px 0 30px;
}


.input-container {
    display: flex;
    gap: 2rem;
    height: 10rem;
    align-items: end;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 5.5rem;
}

label {
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
}

.input-box {
    max-width: 75px;
    padding: 15px 5px 15px 10px;
    border-radius: 12px;
    border: 1px solid #dddddd;

}

.input-box::placeholder {
    font-weight: 600;
    font-size: 17px;
    color: #757575;
}

h2 {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

#year-re,
#month-re,
#date-re{
    color: #9261FF;
}
#dash,
#dash1,
#dash2{
    display: flex;
    gap: 5px;
    transform: skew(-25deg);
}
#dash div,
#dash1 div,
#dash2 div{
    height: 10px;
    width: 20px;
    background-color: #9261FF;
}

.line {
    position: absolute;
    margin-top: 13.5rem;
    height: 2px;
    width: 24rem;
    background: #e5e5e5;
}

button {
    z-index: 1;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    background: #9261FF;
    border-radius: 50%;
    border: none;

}

button:hover {
    background: #621ed0ed;
}
small{
    color: red;
}